<!DOCTYPE html>
<html>
<head>
	<title><%= full title(yield(:title)) %></title>
	<%= stylesheet link tag "application", media: "all" %>
	<%= javascript include tag "application" %>
	<%= csrf meta tags %>
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<%= link to "sample app", '#', id: "logo" %>
				<nav>
					<ul class="nav pull-right">
						<li><%= link to "Home", '#' %></li>
						<li><%= link to "Help", '#' %></li>
						<li><%= link to "Sign in", '#' %></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>